
body > main > section {
    width: 1306.5px;
    margin: auto;
    margin-top: 20px;
    
}



body{
    background: #1F6032;
    color: #e5ac29;
    margin: auto;
}

body h1{
    text-align: center;
    
}

character{
    width: 200px;
    display:inline-block ;
    border: 1px solid #e5ac29;
    padding: 1px;
    margin: 5px;
    text-align: center;

}

.character-image{
    width: 100%;
    height: 200px; 
    background-size:cover !important;
    background-position: center !important;
    
}

.quote{
    width: 100%;
    height: 150px;
    max-height: 200px;
    overflow:scroll;
    margin-top: 5px;
}

.quote::-webkit-scrollbar{
    display: none;
}



